<div class="container-fluid">
	<div class="row">
      <img src="main.jpg" class="img-responsive center-block">
  </div>
  <div class="row">
      <div class="col-md-12 registration">
        <br>
        <br>
        <button type="button" class="btn btn-lg btn-success center-block"><b>РЕГИСТРАЦИЯ</b></button>
        <br>
        <br>
        <br>
      </div>
  </div>
  <div class="row hidden-sm">
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>Организатор проекта</h4>
        </div>
        <div class="row">
          <a href="https://www.ageing-forum.org/ru/"><img src="logo17.png" class="img-responsive"></a>
          <br>
        </div> <!-- Общество -->
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- Artist -->
        <div class="row">
          <h4>Cooрганизатор</h4>
        </div>
        <div class="row">
          <a href="http://www.fond-artist.ru/"><img src="artist.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- тимченко -->
        <div class="row">
          <h4>При поддержке</h4>
        </div>
        <div class="row">
          <a href="http://timchenkofoundation.org/"><img src="timchenko.jpg" class="img-responsive"></a>
          <br>
        </div> 
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- райффайзен -->
        <div class="row">
          <h4>Официальный партнер</h4>
        </div>
        <div class="row">
          <a href="https://www.raiffeisen.ru/"><img src="raiffaisen.jpg" class="img-responsive"></a>
          <br>
        </div> 
      </div>
    </div>

  </div>
  <br>
  <br>
  <div class="row hidden-sm">
    <div class="col-md-3">
      <div class="container-fluid"><!-- PRP -->
        <div class="row">
          <h4>Координатор проекта</h4>
        </div>
        <div class="row">
          <a href="http://prp.ru/"><img src="logo-prp.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- Третьяковка -->
        <div class="row">
          <h4>Партнер</h4>
        </div>
        <div class="row">
          <a href="https://www.tretyakovgallery.ru/"><img src="tret.jpg" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- Gett -->
        <div class="row">
          <h4>Организационный партнер</h4>
        </div>
        <div class="row">
          <a href="https://gett.com/ru/"><img src="gett.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-md hidden-lg">
    <div class="col-sm-6">
      <div class="container-fluid">
        <div class="row">
          <h4>Организатор проекта</h4>
        </div>
        <div class="row">
          <a href="https://www.ageing-forum.org/ru/"><img src="logo17.png" class="img-responsive"></a>
          <br>
        </div> <!-- Общество -->
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid"><!-- Artist -->
        <div class="row">
          <h4>Cooрганизатор</h4>
        </div>
        <div class="row">
          <a href="http://www.fond-artist.ru/"><img src="artist.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-md hidden-lg">
    <div class="col-sm-6">
      <div class="container-fluid"><!-- тимченко -->
        <div class="row">
          <h4>При поддержке</h4>
        </div>
        <div class="row">
          <a href="http://timchenkofoundation.org/"><img src="timchenko.jpg" class="img-responsive"></a>
          <br>
        </div> 
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid"><!-- райффайзен -->
        <div class="row">
          <h4>Официальный партнер</h4>
        </div>
        <div class="row">
          <a href="https://www.raiffeisen.ru/"><img src="raiffaisen.jpg" class="img-responsive"></a>
          <br>
        </div> 
     </div>
    </div>
  </div>
  <div class="row hidden-md hidden-lg">
    <div class="col-sm-6">
      <div class="container-fluid"><!-- PRP -->
        <div class="row">
          <h4>Координатор проекта</h4>
        </div>
        <div class="row">
          <a href="http://prp.ru/"><img src="logo-prp.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid"><!-- Третьяковка -->
        <div class="row">
          <h4>Партнер</h4>
        </div>
        <div class="row">
          <a href="https://www.tretyakovgallery.ru/"><img src="tret.jpg" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row  hidden-md hidden-lg">
    <div class="col-sm-6">
      <div class="container-fluid"><!-- Gett -->
        <div class="row">
          <h4>Организационный партнер</h4>
        </div>
        <div class="row">
          <a href="https://gett.com/ru/"><img src="gett.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      
    </div>
  </div>
</div>