<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<img src="logoage.png" class="img-responsive center-block">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
      <br>
			<hr class="divider">
		</div>
	</div>

   <div class="row">
      <img src="central.jpg" class="img-responsive center-block">
  </div>
  <div class="row">
      <div class="col-md-12">
        <br>
        <hr class="divider">
      </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>Организатор проекта</h4>
        </div>
        <div class="row">
          <img src="logo17.png" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>При поддержке</h4>
        </div>
        <div class="row">
          <img src="timchenko.jpg" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>Официальный партнер</h4>
        </div>
        <div class="row">
          <img src="raiffaisen.jpg" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>Координатор проекта</h4>
        </div>
        <div class="row">
          <img src="logo-prp.svg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>Cooрганизатор</h4>
        </div>
        <div class="row">
          <img src="artist.png" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>Партнер</h4>
        </div>
        <div class="row">
          <img src="volhonka.jpg" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>Партнер</h4>
        </div>
        <div class="row">
          <img src="gett.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>